<div class="row" style="background-color:white; height:5%">
  <div class="col-md-10"></div>
  <div class="col-md-2">
    <b class="icon" style="float:right; padding-left:3%">04:20</b>
    <i class="fas fa-wifi icon" style="float:right; padding-left:3%"></i>
    <i class="fas fa-signal icon" style="float:right; padding-left:3%"></i>
    <i class="fas fa-battery-three-quarters icon" style="float:right; padding-left:3%"></i>
  </div>
</div>
<div class="row" style="background-color:#006A96; height:10%; align-items:center; display: flex">
  <div class="col-md-2" align="center" style="width: 33%">
    <a href="/"> <i class="fas fa-home fa-2x licon" style="color:white;"></i> </a>
  </div>
  <div class="col-md-8" align="center" style="width: 33%">
    <h3 style="color:white">ProfScribe</h3>
  </div>
  <div class="col-md-2" align="center" style="width: 33%">
    <div class="dropdown">
      <i class="fas fa-bars fa-align-justify fa-2x icon" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;"></i>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/profile">Profile</a>
      <a class="dropdown-item" href="/signin">Signout</a>
      <a class="dropdown-item" href="/help">Help</a>
    </div>
  </div>
</div>
</div>