<html>
<head>
	<title>Help Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="/css/project.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: white">
	{{> toolbar }}
	<div class="row" style="background-color:#006A96; height:25%;" >
		<div class="col-md-12" align="center" style="background-color: white;height: 45%;">
      <br>
  			<h2>Help</h2>
  				<!--<hr class="my-3">-->
  				<!--<input class="form-control" type="text" placeholder="Search" aria-label="Search">-->

		</div>
		<hr class="my-3">
		<div class="col-md-12" align="center" style="background-color: #006A96">

  				<h3 style="color: white">Frequently Asked Questions:</h3>

		</div>
	</div>
	<div class="row" style="background-color: silver; height:60% ">
		<div class="col-md-12">
			<div class="list-group" style="background-color: white; padding-left: 3%; padding-right: 3%">
  				<p class="list-group-item flex-column align-items-start" style="background-color: white; border-color: white">
   					<div class="d-flex w-100 justify-content-between">
      					<h4 class="mb-1">How do I view a video?</h4>
    				</div>
   					<p class="mb-1" style="color:gray">From <b style="color: black">Home</b>, click the <b style="color: black">Play</b> button on the thumbnail of the video you want to watch to navigate to that video's playback page.</p>
  				</p>
  				<p class="list-group-item flex-column align-items-start" style="background-color: white; border-color: white; border-top-color: silver">
    				<div class="d-flex w-100 justify-content-between">
     					<h4 class="mb-1">How do I add a language for subtitles or transcripts?</h4>
    				</div>
    				<p class="mb-1" style="color:gray">Under <b style="color: black">Profile</b>, click a <b style="color: black">Language</b> and select a language to add it to your languages. </p>
  				</p>
  				<p class="list-group-item flex-column align-items-start" style="background-color: white; border-color: white; border-top-color: silver">
    				<div class="d-flex w-100 justify-content-between">
     					 <h4 class="mb-1">How do I remove subtitles or transcripts?</h4>
   					</div>
   					<p class="mb-1" style="color:gray">In the <b style="color: black">Playback</b> page, click the <b style="color: black">Gear Icon</b> to toggle subtitle or transcript visibility.</p>
  				</p>
			</div>
		</div>
	</div>
</body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

</html>
