<html>
	<head>
		<title>Browse Lectures</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
			<link href="/css/project.css" rel="stylesheet">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				</head>
				<body style="background-color: white">
					{{> toolbar }}
				<div class="row">
					<div class="col-md-12">
					<div class="embed-responsive embed-responsive-1by1" style="height:54%; background-color:white">
					    <div id="iframe-new"></div>
					  </div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-11" style="background-color:white; height: 100%; width: 90%;padding-right: 2%;padding-left: 10%;">

								<samp id="hTranscript" style="background-color:white; height: 100%;font-size: 70%; overflow-y:scroll;">

							 </samp>
					</div>
					<div class="col-md-1" style="background-color:white; width: 10%">
						<a>
						<i  class="fas fa-cog fa-lg modalpos" data-toggle="modal" data-target=".bd-example-modal-sm" ></i>
																			<!-- Modal -->
												<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
												  <div class="modal-dialog modal-sm">
												    <div class="modal-content">
												    	<div class="input-group mb-3">
														  <div class="input-group-prepend">
														    <label class="input-group-text" for="inputGroupSelect01">Language</label>
														  </div>
														  <select class="custom-select" id="languageSelect">
														    <option value="en">English</option>
														    <option value="ko">Korean</option>
														  </select>
														</div>

														<a class="hyperlink mb-3" href="/profile">
															<span>+ Add a new language</span>
														</a>

														<div class="input-group mb-3">
														  <div class="input-group-prepend">
														    <label class="input-group-text" for="inputGroupSelect01">Font Size</label>
														  </div>
														  <select class="custom-select" id="fontSelect">
														    <option selected>Choose...</option>
														    <option value="80">Small</option>
														    <option value="110">Medium</option>
														    <option value="150">Large</option>
														  </select>
														</div>
												    	<div><span class="label label-default"> Transcripts </span>  <input id="transcript" type="checkbox" checked data-toggle="toggle"></input> <br> <br></div>
													   <div><span class="label label-default"> Subtitles </span> <input id="subtitles" type="checkbox" checked data-toggle="toggle"></input> <br></div><br>
													   <div class="modal-footer">
												        <button type="button" class="btn btn-dark" data-dismiss="modal" id="Close">Close</button>
												      </div>
												    </div>
												  </div>
												</div>

						</a>
					</div>
				</div>
<!--
REFERENCES:
1) Smart Icons
2) Bootstrap toggle
3) MIT Opencourseware
-->
</body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="js/playback.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
 <script async src="https://www.youtube.com/iframe_api"></script>
     <script>
     var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      // 3. This function creates an <iframe> (and YouTube player)
      //    after the API code downloads.
      var player;
      function onYouTubeIframeAPIReady() {
        player = new YT.Player('iframe-new', {
          height: '350',
          width: '100%',
          videoId: 'k6U-i4gXkLM',
          events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
          },
          playerVars:
          {
          	'cc_load_policy':1,
          	'cc_lang_pref': 'en',
          	'controls': 0,
          	'start': 1922
          }
        });
      }
      //https://stackoverflow.com/questions/13735783/youtube-api-how-to-use-custom-controls-to-turn-captions-on-off-change-languag

      // 4. The API will call this function when the video player is ready.
      function onPlayerReady(event) {
        event.target.playVideo();
      }

      // 5. The API calls this function when the player's state changes.
      //    The function indicates that when playing a video (state=1),
      //    the player should play for six seconds and then stop.
      var done = false;
      function onPlayerStateChange(event) {
        //if (event.data == YT.PlayerState.PLAYING && !done) {
        //  setTimeout(stopVideo, 6000);
        //  done = true;
        //}
        if(event.data === 1) {
        	if( highlight_loop == '' )
        		highlight_loop = setInterval(highlight, 250);
    	}
		else if(event.data === 2) {
		    clearInterval( highlight_loop );
		    highlight_loop = '';
		}
      }
      function stopVideo() {
        player.stopVideo();
      }
      //player.loadModule("captions");  //Works for html5 ignored by AS3
	  //player.loadModule("cc");
     </script>
</html>
